body {
    font-family: Open Sans, sans-serif;
    line-height: 1.4;
    background-color: #f0efef;
}

.blue {
    color: #033048;
}

.grey {
    color: #606161;
}

/** let's push things right!**/
.offset {
    padding-left: 75px;
}

/**let's push things left!!!**/
.inset {
    padding-right: 75px;
}

.right {
    text-align: right;
}

#container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #033048;
    height: 70px;
    padding: 10px 0 10px 0;
}

header h1 {
    float: left;
    font-size: 48px;
    font-weight: 800;
    color: white;
}

header li {
    float: right;
    display: inline;
    font-weight: 600;
    font-size: 24px;
    padding: 20px 20px 20px 0;
}

nav a {
    color: #f9e42e;
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    padding: 25px 0 0 0;
}

.blog {
}

section {
    width: 700px;
    float: left;
    display: inline;
}

.title {
    font-size: 40px;
    font-weight: 600;
}

.article {
    color: #606161;
    font-size: 24px;
    font-weight: 400;
}

.sidebar {
    width: 240px;
    float: right;
}

.sidebar-title {
    font-size: 32px;
    font-weight: 600;
}

.sidebar ul {
    font-size: 24px;
    font-weight: 200;
}

.sidebar a {
    color: #606161;
    text-decoration: none;
}

.categories {
    padding-bottom: 25px;
/** room between categories and about**/
    font-size: 24px;
}

.about {
    font-weight: 200;
    font-size: 22px;
}

.sign-up {
    background-color: #f9e42e;
    padding: 20px 0;
}

.sign-up button{
    display: block; 
    margin: 0 auto;
    padding: 10px 60px;
    background-color: #033048;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    font-weight: 800;
    font-family: Open Sans, sans-serif;
    color: #f0efef;    
}

.social {
    text-align: center;
}

.social a {
    display: inline-block;
    width: 43px;
    height: 33px;
}

.social #twitter {
    background: url("../images/twitter.png") no-repeat center;
    background-size: contain;
}

.social #facebook {
    background: url("../images/facebook.png") no-repeat center;
    background-size: contain;
}

footer {
    background-color: #121212;
}

footer h1{
    font-weight: 800;
    color: #f9e42e;
    font-size: 24px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.copyright {
    font-weight: 800;
    font-size: 9px;
    text-align: center;
    color: #f0efef;
    padding: 30px 0 0 0;
}
