html {
  width: 90%;
}

.main-nav {
  background-color: #ff6;
}

.wrapper {
  margin-top: 5px;
}

.articles {
  float: left;
  width: 69%;
  background-color: #ff3;
  height: 400px;
  display: block;
}

.sidebar {
  float: right;
  width: 30%;
  background-color: #ff3;
  height: 400px;
  display: block;
  overflow: hidden;
}

.copyright {
  clear: both;
}