.overflow {
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.hide {
    display: none;
}

.emphasize {
    font-family: Kalam;
    font-size: 20pt;
    color: #709176;
    text-decoration: underline;
}

.indent {
    padding: 0 50px 0 50px;
}

/*STYLES BEGIN********************************/

body {
    font-family: Coming Soon;
    background-color: #e6f8b2;
}

header {
    background-color: #709176;
    padding: 50px 0 0 0;
    background-image: url("../images/grassheader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header p {
    font-size: 40pt;
    color: white;
    font-weight: bolder;
    letter-spacing: 5px;
}

nav {
    background-color: #704e2e;
    display: block;
    margin-top: 80px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #cde77f;
    margin: 20px;
    font-size: 15pt;
    text-decoration: none;
}

.container {
    background-size: 100%;
    background-color: #e6f8b2;
}

.body {
    width: 75%;
    margin: 0 auto;
}

.body h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.body p {
    line-height: 1.5;
    text-align: center;
    font-size: 16pt;
    color: #709176;
    font-weight: bolder;

}

.body h2 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.testimonials {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 2%;
    height: 250px;
    display: inline;
}

.testimonial-wrapper {
    height: 150px;
    margin-top: 25px;
}

.testimonials h2 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.fa.fa-angle-double-right {
    font-size: 30pt;
}

.fa.fa-angle-double-down {
    font-size: 30pt;
    display: none;
}

.fa.fa-angle-double-right:hover {
    color: #709176;
    font-weight: 900;
}

.fa.fa-angle-double-down:hover {
    color: #709176;
    font-weight: 900;
}

.customerone {
    float: left;
    padding-left: 10%;
    font-size: 14pt;
    width: 35%;
}

.customertwo {
    float: right;
    padding-right: 10%;
    font-size: 14pt;
    width: 35%;
}

.customerone #first, .customertwo #second {
    font-style: italic;
    font-size: 16pt;
    text-align: center;
}

footer {
    padding-top: 50px;
}

.social {
    display: inline-block;

}

.social ul li .fa {
    font-size: 30pt;
    padding-bottom: 5px;
}

.social ul li a {
    text-decoration: none;
    color: #709176;
}

