.clearfix {
    overflow: auto;
}

.indent {
    padding: 0 50px 0 50px;
}

/*html styles*************************/

body {
    font-family: Coming Soon;
    background-color: #e6f8b2;
}

header {
    background-color: #709176;
    padding: 50px 0 0 0;
    background-image: url("../images/grassheader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #704e2e;
    display: block;
    margin-top: 80px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #cde77f;
    margin: 20px;
    font-size: 15pt;
    text-decoration: none;
}

.container {
    background-size: 100%;
    background-color: #e6f8b2;
}

.body {
    height: 400px;
}

.body h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0 20px 0;
}

.body p {
    line-height: 1.5;
    text-align: center;
    font-size: 16pt;
    color: #709176;
    font-weight: bolder;
}

.body p a {
    text-decoration: none;
    color: #709176;
}

#phone {
    display: block;
    padding-top: 2%;
    margin: auto;
    width: 50px;
    height: auto;
}

#location {
    display: block;
    padding-top: 2%;
    margin: auto;
    width: 50px;
    height: auto;
}

#googleMap {
    width:500px;
    height:380px;
    margin: 0 auto;
}

#facebook {
    display: block;
    padding-top: 2%;
    margin: auto;
    width: 50px;
    height: auto;
}

#google {
    display: block;
    margin: auto;
    padding-top: 2%;
    width: 50px;
    height: auto;
}

.body p:last-child {
    padding-bottom: 2%;
}
