/*html {
  background-color: #e6f8b2;
}
*/

.clearfix {
    overflow: auto;
}

body {
    font-family: Coming Soon;
    background-color: #e6f8b2;
}

.indent {
    padding: 0 50px 0 50px;
}

.container {
    background-image: url("../images/chickenbgmain.png");
    background-size: 100%;
    background-color: #e6f8b2;
    background-repeat: no-repeat;
}

.body {
    height: 500px;
    width: 75%;
/*    background-image: url("../images/chickenbgmain.png");
    background-size: cover;
    background-color: #e6f8b2;
    background-repeat: no-repeat;*/
}

/*.container img {
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}*/

.body p {
    line-height: 1.5;
    text-align: center;
    position: relative;
    padding-top: 450px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 16pt;
    color: #709176;
}

header {
    background-color: #709176;
    padding: 50px 0 0 0;
    background-image: url("../images/grassheader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #704e2e;
    height: 50px;
    display: block;
    margin-top: 80px;

}

nav ul li {
    float: left;
    margin-top: 20px;
    display: inline-block;
}

nav ul li a {
    color: #cde77f;
    margin: 20px;
    text-decoration: none;
}

footer {
/*    background-image: url("../images/grassheader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;*/
}

/*.social {
    background-image: url("../images/grassheader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 90px;
}
*/

footer .social ul {
    position: static;
    bottom: 0; 
    left: 0.5em; 
    width: 400px; 
    padding: 10px;
}

