.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
    clear: both;
}

.indent {
    padding: 0 50px 0 50px;
}

.float {
    float: left;
}

.hide {
    display: none;
}

.width {
    width: 100%;
}

.small {
    font-size: 12pt;
}

.center {
    text-align: center;
}

.highlight {
    background-color: #709176;
}

/*STYLES BEGIN************************/

body {
    font-family: Coming Soon;
    background-color: #e6f8b2;
}

header {
    background-color: #709176;
    padding: 50px 0 0 0;
    background-image: url("../images/grassheader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header p {
    font-size: 40pt;
    color: white;
    font-weight: bolder;
    letter-spacing: 5px;
}

nav {
    background-color: #704e2e;
    display: block;
    margin-top: 80px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #cde77f;
    margin: 20px;
    font-size: 15pt;
    text-decoration: none;
}

.container {
    background-size: 100%;
    background-color: #e6f8b2;
}

.body {
    margin: 0 auto;
}

.container h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.sidebar {
    width: 25%;
    padding-right: 10%;
    margin-top: 25px;
}

aside {

}

aside ul {

}

aside ul li {
    padding: 5% 0 5% 0; 
    font-size: 20pt;
}

.menu {
    margin-top: 25px;
    font-size: 14pt;
}

.why {
    display: inline-block;
    width: 60%;
}

.sidebar aside ul li:hover {
    background-color: #709176;
    cursor: pointer;
}

table {
    width: 100%;
}

table tr {
    height: 60px;
}

table tr td {
    padding: 20px 0 20px 0;
}

table tr:nth-child(odd) {
    background-color: #cde77f;
}

tr td:first-child {
    padding-right: 20%;
}

tr td:nth-child(2) {
    text-align: right;
}

.social ul li .fa {
    font-size: 30pt;
    padding-bottom: 5px;
}

.social ul li .fa:first-child {
    padding-top: 2%;
}

.social ul li a {
    text-decoration: none;
    color: #709176;
}

footer {

}

