body {
  background-color: #80d4ff;
  border-style: ridge;
  border-color: #006699;
  width: 60%;
  font-family: Courier New;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 40px;  
  font-variant: small-caps;
  line-height: 5px;
}

h3 {
  font-size: 12px;
  line-height: 0px;
}
  
nav {
  background-color: #005580;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.list {
  width: 300px;
  margin: 0 auto;
}

p {
  text-align: center;
}

aside {
  font-size: 12px;
}

ul {
  text-align: left;
}

footer {
  font-family: comic sans;
  text-align: center;
}